.cta-component{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.cta-content {
    max-width:600px;
}

.cta-content > h1 {
    font-size:4rem;
    color:#E23030;
    margin:15px;
}