.footer-component{
    position:relative;
    background-color:#E23030;
    height:35vh;
    display:flex;
    align-items:center;
    justify-content: center;
}

.footer-content img {
    width:98px;
}

