.about-component {
  position: relative;
  min-height:100vh;
  max-height:100%;
  width:100vw;
  background-color: #e23030;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:100px 0px;
}

.about-content {
  display: flex;
  flex-direction: row;
  max-width: 1098px;
  /* padding: 40px 0px; */
}

.about-content div {
  color: white;
  width: 50%;
  text-align: left;
  padding: 50px;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    max-width: 1098px;
    align-items: center;
    justify-content: center;
  }
  .about-content div {
    width: auto;
    margin-bottom: -70px;
  }
}
